<div class="container-fluid ml-2 mr-2 mt-5" style="background-color: #FFFFFF; border-radius: 5px; box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);">
    <div class="row mt-4 mb-4">
        <div class="col-sm">
            Veuillez renseigner le titre du quiz<br/>
            <input type="text" style="display: flex;flex-direction: column;align-items: flex-start;padding: 10px 12px;left: 20.21%;right: 54.39%;top: 16.28%;bottom: 78.91%;border: 1px solid #E0E0E0;box-sizing: border-box;border-radius: 4px;">
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-sm">
            Veuillez renseigner la date de début<br/>
            <input type="date">
            <input type="time">
        </div>
        <div class="col-sm">
            Veuillez renseigner la date de fin<br/>
            <input type="date">
            <input type="time">
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-sm">
            Veuillez sélectionner les sécurités<br/>
            <input type="checkbox" name="random" id="random"> <label for="random">Position des questions aléatoires</label>
        </div>
        <div class="col-sm">
            <br/>
            <input type="checkbox" name="redscreen" id="redscreen"> <label for="redscreen">Ecran rouge</label>
        </div>
    </div>
    Veuilliez renseigner vos questions :
    <div class="h-100 w-100 mt-4 mb-4">
        <div class="question1" style="background-color: #F8F8F8;box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);border-radius: 5px;">
            <input type="text" placeholder="Votre question" style="flex-direction: column;align-items: flex-start;padding: 10px 12px;left: 20.21%;right: 54.39%;top: 48.96%;bottom: 46.22%;background: #FFFFFF;border: 1px solid #E0E0E0;box-sizing: border-box;border-radius: 4px;"><br/>
            <div class="a mt-1" style="width: 41px;height: 41px;left: 206px;top: 499px;background: #FFFFFF;border: 1px solid rgba(224, 224, 224, 0.15);box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);border-radius: 100%;text-align: center;padding: 6px 0;"> A </div> <input type="text" placeholder="Réponse A" style="flex-direction: column;align-items: flex-start;padding: 10px 12px;left: 51.56%;right: 35.84%;top: 56.51%;bottom: 38.67%;background: #FFFFFF;border: 1px solid #E0E0E0;box-sizing: border-box;border-radius: 4px;">
            <div class="b mt-1" style="width: 41px;height: 41px;left: 206px;top: 499px;background: #FFFFFF;border: 1px solid rgba(224, 224, 224, 0.15);box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);border-radius: 100%;text-align: center;padding: 6px 0;"> B </div> <input type="text" placeholder="Réponse B" style="flex-direction: column;align-items: flex-start;padding: 10px 12px;left: 51.56%;right: 35.84%;top: 56.51%;bottom: 38.67%;background: #FFFFFF;border: 1px solid #E0E0E0;box-sizing: border-box;border-radius: 4px;">
            <div class="c mt-1" style="width: 41px;height: 41px;left: 206px;top: 499px;background: #FFFFFF;border: 1px solid rgba(224, 224, 224, 0.15);box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);border-radius: 100%;text-align: center;padding: 6px 0;"> C </div> <input type="text" placeholder="Réponse C" style="flex-direction: column;align-items: flex-start;padding: 10px 12px;left: 51.56%;right: 35.84%;top: 56.51%;bottom: 38.67%;background: #FFFFFF;border: 1px solid #E0E0E0;box-sizing: border-box;border-radius: 4px;">
            +<button style="background: #18A0FB;color: white;border-radius: 5px;">Ajouter une réponse</button>
            <br/>Selectionnez la/les bonne(s) réponses pour cette question
            <div class="a mt-1" style="width: 41px;height: 41px;left: 206px;top: 499px;background: #FFFFFF;border: 1px solid rgba(224, 224, 224, 0.15);box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);border-radius: 100%;text-align: center;padding: 6px 0;"> A </div>
            <div class="b mt-1" style="width: 41px;height: 41px;left: 206px;top: 499px;background: #B1FA8F;border: 1px solid rgba(224, 224, 224, 0.15);box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);border-radius: 100%;text-align: center;padding: 6px 0;"> B </div>
            <div class="c mt-1" style="width: 41px;height: 41px;left: 206px;top: 499px;background: #FFFFFF;border: 1px solid rgba(224, 224, 224, 0.15);box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);border-radius: 100%;text-align: center;padding: 6px 0;"> C </div>
        </div>
    </div>
    <button class="mt-3 mb-3" style="background: #18A0FB;color: white;border-radius: 5px;">Ajouter une question</button><br/>
    <button class="mt-3 mb-3" style="background: #18A0FB;border-radius: 5px;">Valider le quiz</button>
</div>