<div class="card">
    <div><input type="search" /> <i class="fas fa-search"></i></div>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">NOM DU QUIZ</th>
            <th scope="col">STATUT</th>
            <th scope="col">DATE/DUREE</th>
            <th scope="col">CODE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>Quiz 1</td>
            <td><span class="actif">actif</span></td>
            <td>
                25/03/2021 à 15h00
                <br />
                Durée: 30min
            </td>
            <td>
                <input type="text" value="ABDJKL1" /><i class="fas fa-copy"></i>
            </td>
        </tr>
        <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>Quiz 2</td>
            <td><span class="actif">actif</span></td>
            <td>
                25/03/2021 à 15h00
                <br />
                Durée: 20 min
            </td>
            <td>
                <input type="text" value="ABDJKL1" /><i class="fas fa-copy"></i>
            </td>
        </tr>

        <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>Quiz 3</td>
            <td><span class="inactif">inactif</span></td>
            <td>
                30/03/2021 à 11h45
                <br />
                Durée: 15 min
            </td>
            <td>
                <input type="text" value="ABDJKL1" /><i class="fas fa-copy"></i>
            </td>
        </tr>

        <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>Quiz 4</td>
            <td><span class="inactif">inactif</span></td>
            <td>
                23/09/2021 à 10h00
                <br />
                Durée: 10 min
            </td>
            <td>
                <input type="text" value="ABDJKL1" /><i class="fas fa-copy"></i>
            </td>
        </tr>

        <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>Quiz 5</td>
            <td><span class="actif">actif</span></td>
            <td>
                23/03/2021 à 15h00
                <br />
                Durée: 40 min
            </td>
            <td>
                <input type="text" value="ABDJKL1" /><i class="fas fa-copy"></i>
            </td>
        </tr>
        <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>Quiz 6</td>
            <td><span class="inactif">inactif</span></td>
            <td>
                30/03/2021 à 9h00
                <br />
                Durée: 45 min
            </td>
            <td>
                <input type="text" value="ABDJKL1" /><i class="fas fa-copy"></i>
            </td>
        </tr>
        <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>Quiz 7</td>
            <td><span class="inactif">inactif</span></td>
            <td>
                20/04/2021 à 15h00
                <br />
                Durée: 1h
            </td>
            <td>
                <input type="text" value="ABDJKL1" /><i class="fas fa-copy"></i>
            </td>
        </tr>
        <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>Quiz 8</td>
            <td><span class="inactif">inactif</span></td>
            <td>
                20/04/2021 à 18h00
                <br />
                Durée: 20 min
            </td>
            <td>
                <input type="text" value="ABDJKL1" /><i class="fas fa-copy"></i>
            </td>
        </tr>
        <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>Quiz 9</td>
            <td><span class="inactif">inactif</span></td>
            <td>
                20/04/2021 à 15h00
                <br />
                Durée: 1h
            </td>
            <td>
                <input type="text" value="ABDJKL1" /><i class="fas fa-copy"></i>
            </td>
        </tr>
        <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>Quiz 10</td>
            <td><span class="inactif">inactif</span></td>
            <td>
                20/04/2021 à 10h00
                <br />
                Durée: 30 min
            </td>
            <td>
                <input type="text" value="ABDJKL1" /><i class="fas fa-copy"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>
