<div class="container text-center mt-lg-5">
    <div class="row">
        <div class="col-md">
            "Nom du quiz"
        </div>
        <div class="col-md">
            <input value="BSJA77">
        </div>
        <div class="col-md">
            <button>Copier le code</button>
        </div>
    </div>
</div>

<div class="container mt-5 text-center">
    <div class="row">
        <div class="border border-dark col-sm" style="background-color: #B9B9B9;">
            Participants
        </div>
        <div class="border border-dark col-sm" style="background-color: #B9B9B9;">
            Question 1
        </div>
        <div class="border border-dark col-sm" style="background-color: #B9B9B9;">
            Question 2
        </div>
        <div class="border border-dark col-sm" style="background-color: #B9B9B9;">
            Question 3...
        </div>
    </div>
    <div class="row text-center">
        <div class="border border-dark col-sm">
            Jules
        </div>
        <div class="border border-dark col-sm bg-success ">
            A,B
        </div>
        <div class="border border-dark col-sm bg-danger ">
            A
        </div>
        <div class="border border-dark col-sm bg-danger ">
            C
        </div>
    </div>
    <div class="row">
        <div class="border border-dark col-sm text-center">
            Elodie
        </div>
        <div class="border border-dark col-sm bg-success ">
            A,B
        </div>
        <div class="border border-dark col-sm bg-danger ">
            B
        </div>
        <div class="border border-dark col-sm bg-success ">
            D
        </div>
    </div>
</div>