<div class="container-fluid mb-5 mt-5">
    <div class="row text-center">
        <div class="col">
            Ce site va vous permettre de proposer des quiz où tricher ne sera pas possible ! Vous allez pouvoir voir en temps réel l’avancé des participants de votre quizz.
            <br/><br/>Planifiez vos quiz à l’avance pour que les participants puissent y répondre en toute autonomie.
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row text-center">
        <div class="col">Vérifiez facilement les quiz effectués</div>
        <div class="col">et créer en facilement de façon sécurisé</div>
        <div class="w-100"></div>
        <div class="col"><img class="w-50" src="https://i.imgur.com/T3FFDgr.png" alt="image"></div>
        <div class="col"><img class="w-50" src="https://i.imgur.com/iQhhIbb.png" alt="image"></div>
    </div>
</div>